<!-- Sequence: 19 -->
<!-- allowGuest: false -->
<script type="text/javascript" >
	XNAT.xhr.getJSON({
	  url:XNAT.url.csrfUrl('/xapi/xsync/setup/projects/'+XNAT.data.context.project),
	  type:"GET",
	  success: function(data){
	      var configuration = data;
	      var xnatXsiType='$om.getXSIType()';
	      var visi = 'hidden';
	      var visibilityShowDoesNotNeedOkToSync = 'hidden';
	      if (typeof configuration.imaging_sessions === 'undefined') {
		  visibilityShowDoesNotNeedOkToSync = 'visible';		      
	      }else {
		if (typeof configuration.imaging_sessions.xsi_types === 'undefined') {
		  visibilityShowDoesNotNeedOkToSync = 'visible';		      
		}else {
		  for (i = 0; i < configuration.imaging_sessions.xsi_types.length; i++) {
		     var xsiType = configuration.imaging_sessions.xsi_types[i];
		     if (xsiType.xsi_type==xnatXsiType) {
		         if (typeof xsiType.needs_ok_to_sync === 'undefined') {
		            visibilityShowDoesNotNeedOkToSync = 'visible';		      
		         }else if (xsiType.needs_ok_to_sync) {
		            visi = 'visible';
		         }
		     }
		  }
		}
	      }
	      document.getElementById('showDivIfSynchronizationNotConfigured').style.visibility="hidden";
	      document.getElementById('showDivIfSynchronizationConfigured').style.visibility=visi;
	      document.getElementById('showDoesNotNeedOkToSync').style.visibility=visibilityShowDoesNotNeedOkToSync;

	  },
	  error: function(o) {
	      document.getElementById('showDivIfSynchronizationConfigured').style.visibility="hidden";
	      document.getElementById('showDivIfSynchronizationNotConfigured').style.visibility="visible";
	  }
	});


function setOkToSync(projectId,xnat_id, exp_label) {
	var syncChoice = document.getElementById('OkToSync').checked;
	var exporturl = serverRoot + '/xapi/xsync/experiments/'+xnat_id+'?okToSync='+syncChoice+'&XNAT_CSRF='+csrfToken ;
	var text = 'Experiment ' + exp_label + ' has been marked ok to sync. This experiment will be synced in the next synchronization cycle of the project ' + projectId;
	if (!syncChoice) {
		text = 'Experiment ' + exp_label + ' has been marked NOT ok to sync. This experiment will be not be synced in the next synchronization cycle of the project ' + projectId;
	}
	$.ajax({
	  url:exporturl,
	  type:"POST",
	  success: function(data){
			  xmodal.alert({
					title: 'Data Synchronization',
					content: text ,
					label: 'OK'
				});
	  
	  },
	  error: ajaxCallFailed
	});
};

	function ajaxCallFailed(o) {
		xmodal.loading.close();
		if (!window.leaving) {
			//alert(o.status + " " + o.statusText + " " +  o.responseText);
		    	xModalMessage('Unable to mark experiment as Ok to sync', 'Unable to mark experiment as Ok to sync');
		}

	};

</script>

#set($xsyncAssessorDataType="xsync:xsyncAssessorData")
#set($syncAssessor = "")
#foreach ($assessor in 	$om.getSubjectData().getExperiments_experiment($xsyncAssessorDataType))
  #if($assessor.getSyncedExperimentId().equals($om.getId()))
	#set($syncAssessor = $assessor)
  #end	
#end

#set($checked="")
#if ($!syncAssessor.getOktosync()) 
 #set($checked="checked")
#end

<div id="showDivIfSynchronizationConfigured">
<input type="checkbox" id="OkToSync" name="OkToSync" value="OkToSync"
	onclick="javascript:setOkToSync('$!om.getProject()','$!om.getId()','$!om.getLabel()');" $checked>Ok To Sync

	<table>
	#if ($syncAssessor == "")
	#else
	<tr> 
	<th align="left">Sync Status:</th>
	<td>$!syncAssessor.getSyncStatus()</td>
	</tr>
	<tr> 
	<th align="left">Authorized By:</th>
	<td>$!syncAssessor.getAuthorizedBy()</td>
	</tr>
	<tr> 
	<th align="left">Authorized On:</th>
	<td>$!syncAssessor.getDate()</td>
	</tr>
	<tr> 
	<th align="left">Remote Session report:</th>
	<td>#if ($syncAssessor.getSyncStatus() == "Waiting to Sync") Not available #else <a href="$!{syncAssessor.getRemoteUrl()}/data/experiments/$!syncAssessor.getRemoteId()?format=html">here</a>#end </td>
	</tr>
	#end
	</table>
</div>

<div id="showDivIfSynchronizationNotConfigured">
Project $!om.getProject() is not configured to sync
</div>
<div id="showDoesNotNeedOkToSync">
No action required
</div>